<!DOCTYPE html>
<html>
<head>
    <title>Email Verification</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

span {
    font-weight: bold;
    color: #333;
}

    </style>
</head>
<body>
    <div class="container">
        <h1>Email Verification</h1>
        <p>Hello <span id="username">{{$username}}</span>,</p>
        <p>Your verification code is: <span id="verificationCode">{{$code}}</span> </br> If not you, please skip this mail !!!</p>
    </div>
</body>
</html>
